<nav class="navbar navbar-expand-lg navbar-light navbar-custom-design">
    <div class="container">
            <a class="navbar-brand" routerLink="/get-hotels">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
        
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/get-hotels">Hotels</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>