<div class="container main-width">
    <form (ngSubmit) = "saveCity(cityForm)" #cityForm="ngForm" >
        <div class="card">
            <div class="card-header">
                <h4>Add City</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="name">City Name</label>
                    <input type="text" [(ngModel)]="name" id="name" name="name" class="form-control"required>
                </div>

                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" [(ngModel)]="country" id="country" name="country" class="form-control">
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary" [disabled]="cityForm.invalid">Save</button>
            </div>
        </div>
    </form>
    {{ cityForm.value|json }}

</div>