@import url('https://fonts.googleapis.com/css?family=Nunito|Spectral&display=swap');
*{
    font-family: 'Spectral', serif;
    /* font-family: 'Nunito', sans-serif; */
}
.main-width{
    padding-top: 50px;
}
.navbar-custom-design{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}
.alert-close-btn{
    cursor: pointer;
}
.alert-border{
    border-left: 5px solid;
}